{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest/globals": true
  },
  "globals": {
    "React": true,
    "document": true,
    "window": true,
    "localStorage": true,
    "fetch": true,
    "jest": true,
    "describe": true,
    "test": true,
    "it": true,
    "expect": true,
    "beforeEach": true,
    "__dirname": true,
    "__webpack_require__": true,
    "__webpack_modules__": true
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    },
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "react",
    "react-hooks",
    "jest",
    "unicorn"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": 0,
    "linebreak-style": ["error", "unix"],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "prettier/prettier": "error",
    "semi": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2
    ],
    "import/no-extraneous-dependencies": 0
  }
}
